doctype html
html
  head
    title= "404 Not Found"
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    #row
      h1= "404"
      h2= "The requested page at " + url + " was not found."
